[run]
source = snakeoil
branch = True
omit = tests/*, */snakeoil/dist/*, */_verinfo.py

[paths]
source =
	src/snakeoil
	.tox/*/lib/python*/site-packages/snakeoil
	.tox/pypy*/site-packages/snakeoil

[report]
show_missing = True
skip_covered = True
exclude_lines =
	# Have to re-enable the standard pragma
	pragma: no cover

	# Don't complain if tests don't hit defensive assertion code
	raise AssertionError
	raise NotImplementedError
