*.py[co]
.*.swp
.*.un~

# C extensions
/src/snakeoil/*.c
*.so

/build
/cache
/.cache
/dist
_trial_temp
/doc/_build
/doc/api

# unit testing / coverage
.coverage*
/htmlcov
.tox

# distutils/setuptools
MANIFEST
