include AUTHORS BSD GPL2 LICENSE *.py *.rst tox.ini .coveragerc
recursive-include doc *
recursive-include include/snakeoil *.h
recursive-include src *.[ch]
recursive-include snakeoil *.pyx *.c
global-exclude *.pyc *.pyo __pycache__
